.object{
  display: flex;
  justify-content: center;
}

.box {
  background-color: rgba(241, 241, 241, 0.553);
  width: 500px;
  height: 500px;
  position: relative;
  top: 100px;
}

.rounding {
  border-radius: 1.5rem; /* You can adjust the value to your liking */
}

.head-text {
  font-size: x-large;
  font-weight: 700;
  position: absolute;
  left: 50px;
  top: 50px;
}

.feilds {
  position: absolute;
  top: 170px;
  left: 50px;
}

.feilds {
  font-size: medium;
}

.input {
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: rgba(247, 244, 244, 0.505);
  border-style: ridge;
}
.block {
  display: block;
}
.inline {
  display: inline;
}

.password {
  margin-top: 20px;
}

.remember {
  position: absolute;
  top: 340px;
  left: 50px;
}
.remember-padding {
  padding-left: 20px;
}

.signin {
  position: absolute;
  bottom: 12%;
  left: 50px;
}

/* @media screen and (max-width: 800px) {
  
} */




