@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.box {
  height: 100%;
}
.login-img-frame {
  margin-top: 30px;
}
.left-box,
.right-box {
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
}
.left-box {
  background-color: #aae057;
}
.login-img {
  width: 60%;
  height: 60%;
}

.welcome-content {
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.coat-content {
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.green-text {
  color: green;
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 5px;
}

.logoimg {
  width: 70%;
}

.label-text {
  color: #1ca3ec;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 15px;
}

.forgetpassword-text {
  color: #1ca3ec;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 5px;
}

.login-button {
  background-color: #1ca3ec;
  color: white;
  font-size: large;
  font-weight: 500;
}

.ipt {
  background-color: #dddddd;
  border: #dddddd;
}

@media (max-width: 1200px) {
  .logoimg {
    width: 70%;
    height: 70%;
  }
  .welcome-content,
  .coat-content,
  .green-text {
    font-size: 24px;
  }

  .label-text {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 1000px) {
  .welcome-content,
  .coat-content,
  .green-text {
    font-size: 18px;
  }

  .label-text {
    font-size: 10px;
    line-height: 20px;
  }
}

@media (max-width: 769px) {
  .left-box,
  .right-box {
    min-height: 50px;
  }
  .login-img {
    width: 40%;
  }
  .login-img-frame {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .login-img {
    width: 30%;
  }
  .logoimg {
    width: 30%;
  }
}

@media (max-width: 378px) {
  .welcome-content,
  .coat-content,
  .green-text {
    font-size: 15px;
  }
  .left-box,
  .right-box {
    min-height: 50px;
  }
  .login-img {
    width: 30%;
  }
  .login-img-frame {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
